* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background-color: #21524e;
}

body {
    background-image: url(./assets/bg-brown.jpg);
    color: whitesmoke;
    height: 100vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 1.9rem;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 130px;
}

header .logo-container {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.logo-container i {
    font-size: 1.5rem;
}

header .navbar ul {
    display: flex;
}

header .navbar li {
    font-size: 1.5rem;
}

header .navbar a {
    display: inline-block;
    padding: 1.5rem;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #317b76;
    transition: width .3s;
}

.navbar a:hover::after {
    width: 100%;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero .left-container {
    display: flex; 
    flex-direction: column;
    width: 500px;
    gap: .5rem;
    align-items: center;
    padding: 1.3rem;
}

.left-container {
    font-size: 1.2rem;
}

.left-container h1 {
    padding: 0.5rem;
    font-size: 2.5rem;
}

.left-container span {
    margin-left: 1rem;
}

.left-container button {
    padding: .7rem;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color: #317b76;
    color: inherit;
    border-radius: 5px;
}

.left-container button:hover {
    background-color: #21524e;
    cursor: pointer;
}

.right-container {
    padding: 1.3rem;
    position: relative;
}

.right-container div {
    width: 300px;
    height: 480px;
    border: 3px solid #317b76;
    border-radius: 5px;
    position: absolute;
    top: 0;
    transform: rotate(350deg);
}

.right-container img {
    width: 300px;
    border-radius: 5px;
    transform: rotate(8deg);
    object-fit: cover;
}

.bottom-container {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    margin-top: 2.5rem;
}

.bottom-container .img-container {
    width: 100px;
    height: 100px;
    text-align: center;
}

.bottom-container .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 2px solid #21524e;
    object-fit: cover;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.bottom-container .img-container img:hover {
    transform: scale(1.1);
}

.img-container a {
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: bold;
}